<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>To Do List</title>
</head>
<body>
  <h1>To Do List</h1>
  <form action="/todos" method="POST">
    <input type="text" name="todo">
    <button type="submit"> ADD TO DO</button><br>
  </form>

  <% if(todos.length) { %>
    <% todos.forEach((t, idx) => { %>

      <form action="/todos/<%= idx %>?_method=DELETE" method="POST">
        <button>Done</button>
      </form>


      <div>
       
         <%= t.todo %> 
         --
         <%= t.done ? 'done' : 'Not Done Yet 0.0' %><br>
    
      </div>
    <% }) %>
    <% } else { %>
    <h3> Nothing to do at the moment! </h3>
    <% } %>

</body>
</html>